{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <thead>
      <tr>
        <th class="text-center">ID заказа</th>
        <th class="text-center">Стоимость заказа</th>
        <th class="text-center">Клиент</th>
        <th class="text-center">Телефон</th>
        <th class="text-center">Адрес доставки</th>
        <th class="text-center">Статус</th>
        <th class="text-center">Комментарии</th>
        <th class="text-center">Редактировать</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td class="text-center">{{ order.id }}</td>
          <td class="text-center">{{ order.fixed_total_price }}</td>
          <td class="text-center">{{ order.firstname }} {{ order.lastname }}</td>
          <td class="text-center">{{ order.phonenumber }}</td>
          <td class="text-center">{{ order.address }}</td>
          <td class="text-center">{{ order.get_status_display }}</td>
          <td class="text-center">{{ order.comments }}</td>
          <td class="text-center">
            <a href="{% url 'admin:foodcartapp_order_change' order.id %}?next={{ request.path }}">Редактировать</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
   </table>
  </div>
{% endblock %}